@charset "UTF-8";
body {
  margin: 0;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "icon-loop";
  src: url(../fonts/fontello.eot);
  src: url(../fonts/fontello.ttf) format("truetype"), url(../fonts/fontello.woff) format("woff"), url(../fonts/fontello.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(0deg, #ffae00 0%, #ddb917 100%);
  box-shadow: 0 0 10px 10px rgba(138, 126, 58, 0.3);
  position: relative;
}
.header .contacts ul {
  display: flex;
  align-items: center;
}
.header .contacts ul .tel {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
}
.header .contacts ul li {
  list-style-type: none;
  margin-right: 20px;
}
.header .contacts ul li img {
  width: 30px;
}
.header .logo {
  position: relative;
}
.header .logo img {
  position: absolute;
  height: 100px;
}
.header .listitems {
  display: flex;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.header .listitems li {
  margin-left: 30px;
  position: relative;
}
.header .listitems li a {
  text-decoration: none;
  text-shadow: 0px 1px 1px #fff;
  color: #9e2222;
}
.header .listitems a::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #f30404;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  transform: scaleX(0);
}
.header .listitems a:hover::after {
  transition: 0.5s;
  transform: scaleX(1);
}

.homescreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url(../image/Mainlogo.png) no-repeat #000;
  background-size: cover;
  background-position: 0 0;
  background-size: 100% auto;
}
.homescreen .logotext {
  background: linear-gradient(45deg, #f7bd02, #f1b402);
  box-shadow: 0 5px 10px 5px rgba(138, 126, 58, 0.2);
  border-radius: 20px;
  margin: 9vw 25vw 0 0;
  max-width: 700px;
}
.homescreen .logotext h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2vw;
  color: #fdf6f6;
  padding: 0 10px;
}
.homescreen .logotext h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2vw;
  color: #0b8191;
  padding: 0 10px;
  text-transform: uppercase;
}
.homescreen .icons {
  margin: 3vw 30vw 0 0;
}
.homescreen .icons ul {
  display: flex;
  list-style-type: none;
  margin-left: 25px;
}
.homescreen .icons ul li {
  margin-right: 140px;
}
.homescreen .icons ul img {
  width: 4.7vw;
}
.homescreen .icons .icontext {
  display: flex;
  justify-content: space-around;
}
.homescreen .icons .icontext h2 {
  margin-right: 55px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1vw;
  color: #0b8191;
  padding: 0 10px;
  text-transform: uppercase;
}

.two {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}
.two .about {
  padding-top: 100px;
}
.two .about .aboutcompany {
  text-align: center;
}
.two .about h1 {
  display: inline-block;
  margin-top: 0px;
  font-family: "Cuprum", sans-serif;
  font-size: 40px;
  color: #000303;
  text-transform: uppercase;
  border-bottom: 4px solid #f39406;
  width: 300px;
}
.two .about .abouttext {
  margin-top: 0px;
  font-family: "Cuprum", sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 700;
  color: #3f4141;
}
.two .offers .aboutcontent {
  text-align: center;
  margin-top: 100px;
}
.two .offers .aboutcontent h1 {
  display: inline-block;
  margin-top: 0px;
  font-family: "Cuprum", sans-serif;
  font-size: 40px;
  color: #000303;
  text-transform: uppercase;
  border-bottom: 4px solid #f39406;
  width: 500px;
}
.two .offers .block_images > * {
  margin-top: 20px;
}
.two .offers .block_images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
}
.two .offers .block_images .link_image {
  text-decoration: none;
  padding: 10px;
  width: 20%;
}
.two .offers .block_images .link_image .image_block {
  text-align: center;
}
.two .offers .block_images .link_image .image_block .image_content img {
  width: 180px;
  border-radius: 50%;
  padding: 2px;
  border: 4px solid rgba(248, 6, 6, 0.685);
}
.two .offers .block_images .link_image .image_block .image_text {
  margin-top: 10px;
}
.two .offers .block_images .link_image .image_block .image_text span {
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #2b2c2c;
}

.three .aboutcontent {
  text-align: center;
  margin-top: 100px;
}
.three .aboutcontent h1 {
  display: inline-block;
  margin-top: 0px;
  font-family: "Cuprum", sans-serif;
  font-size: 40px;
  color: #000303;
  text-transform: uppercase;
  border-bottom: 4px solid #f36506;
  width: 500px;
}
.three .mounting {
  background-color: #fff;
}
.three .mounting .block_images > * {
  margin-top: 50px;
}
.three .mounting .border {
  position: relative;
}
.three .mounting .border::after {
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid rgba(255, 182, 23, 0.705);
  border-width: 0 1px 0 0;
}
.three .mounting .block_images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 20px;
}
.three .mounting .block_images .link_image {
  text-decoration: none;
  padding: 10px;
  width: 30%;
}
.three .mounting .block_images .link_image .image_block {
  text-align: center;
}
.three .mounting .block_images .link_image .image_block .image_content img {
  width: 180px;
  height: 180px;
}
.three .mounting .block_images .link_image .image_block .image_text {
  margin-top: 10px;
}
.three .mounting .block_images .link_image .image_block .image_text span {
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #2b2c2c;
}

.four {
  padding-bottom: 50px;
}
.four .aboutcontent {
  text-align: center;
  margin-top: 100px;
}
.four .aboutcontent h1 {
  display: inline-block;
  margin-top: 0px;
  font-family: "Cuprum", sans-serif;
  font-size: 40px;
  color: #000303;
  text-transform: uppercase;
  border-bottom: 4px solid #f36506;
  width: 500px;
}
.four .block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.four .block .wrapper {
  padding: 10px;
  text-align: center;
  width: 30%;
}
.four .block .wrapper .icon {
  color: rgba(255, 85, 6, 0.945);
}
.four .block .wrapper .icon .icon-search {
  display: block;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
}
.four .block .wrapper .icon .icon-search::before {
  border-radius: 50%;
  font-size: 50px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(19, 17, 17, 0.5);
}
.four .block .wrapper .icon .icon-search:hover::before {
  color: #fff;
  background-color: rgba(252, 53, 18, 0.884);
  transition: background-color 0.3s ease-in;
}
.four .block .wrapper .icon .icon-clock {
  display: block;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
}
.four .block .wrapper .icon .icon-clock::before {
  border-radius: 50%;
  font-size: 50px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(19, 17, 17, 0.5);
}
.four .block .wrapper .icon .icon-clock:hover::before {
  color: #fff;
  background-color: rgba(252, 53, 18, 0.884);
  transition: background-color 0.2s ease-in;
}
.four .block .wrapper .icon .icon-rouble {
  display: block;
  width: 80px;
  border-radius: 50%;
  margin: 0 auto;
  padding: 10px;
}
.four .block .wrapper .icon .icon-rouble::before {
  border-radius: 50%;
  font-size: 50px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(19, 17, 17, 0.5);
}
.four .block .wrapper .icon .icon-rouble:hover::before {
  color: #fff;
  background-color: rgba(252, 53, 18, 0.884);
  transition: background-color 0.3s ease-in;
}
.four .block .wrapper .image_text {
  font-family: "Cuprum", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: #2b2c2c;
}

.footer {
  background: linear-gradient(0deg, #ffae00 0%, #ddb917 100%);
}
.footer .infooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .infooter .contacts {
  width: 300px;
}
.footer .infooter .contacts ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.footer .infooter .contacts ul li {
  display: flex;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  font-size: 20px;
}
.footer .infooter .contacts ul li .maillogo {
  margin-right: 10px;
}
.footer .infooter .contacts ul li img {
  width: 30px;
}
.footer .infooter .list {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.footer .infooter .list ul {
  display: flex;
  list-style-type: none;
}
.footer .infooter .list ul li {
  margin-right: 30px;
}
.footer .infooter .list ul li a {
  text-decoration: none;
  text-shadow: 0px 1px 1px #fff;
}

.subheader {
  background: #f7f7f7;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}
.subheader .сrumbs {
  padding: 5px 0;
}
.subheader .сrumbs ul > li {
  list-style-type: none;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-left: 20px;
  position: relative;
}
.subheader .сrumbs ul > li a:hover {
  color: #000;
}
.subheader .сrumbs ul > li:first-child::after {
  content: "➤";
  position: absolute;
  color: #f1b402;
  margin-left: 2px;
}

.address {
  padding-bottom: 100px;
}
.address .block_address {
  display: flex;
  justify-content: space-around;
}
.address .block_address .column_contact {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgba(207, 206, 206, 0.5);
}/*# sourceMappingURL=style.css.map */